<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547556548143-dk5k1r1s9es121br7k96o7aj1ip87b1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547556548143-dk5k1r1s9es121br7k96o7aj1ip87b1r</string>
	<key>API_KEY</key>
	<string>AIzaSyDtfJuc-V4XDCqIvnUogLQYUsyf0ZRANXM</string>
	<key>GCM_SENDER_ID</key>
	<string>547556548143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.senauzun.demo</string>
	<key>PROJECT_ID</key>
	<string>movieapp-9080b</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-9080b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547556548143:ios:2d19b9853a668827a270da</string>
</dict>
</plist>